<main class="login-container">
  <div>
    <label for="email">Email</label>
    <input type="email" id="email" name="email" placeholder="Add your email" [(ngModel)]="email" required />

    <label for="password">Password</label>
    <input type="password" id="password" name="password" placeholder="Add your password" [(ngModel)]="password" required />

    <button class="login" (click)="onLogin()">Login</button>

    <a routerLink="/register" class="create_account">Create an account</a>
  </div>
</main>

