<div class="plans-template">

  <h2 class="plan-title">PLANS</h2>

  <!-- Plan types-->
  <article class="container" >

    <article class="plan-card"*ngFor="let plan of plans" >
      <span class="card-title">{{ plan.name }}</span>

      <ul class="unordered-text-list">
        <li *ngFor="let description of plan.descriptions">{{ description }}</li>

      </ul>
      <p><span class="price">${{plan.price}}</span> /monthly</p>
      <a [routerLink]="'/payment'" class="plan-button">Get Started</a>
    </article>

  </article>
</div>
