<body>
<main class="delete-container">
  <div class="delete-cont">
    <fieldset>
      <legend>Are you sure to delete this account?</legend>
      <label for="yes">Yes</label>
      <input type="radio" id="yes" name="notify" value="yes" [(ngModel)]="delete">
      <label for="no">No</label>
      <input type="radio" id="no" name="notify" value="no" [(ngModel)]="delete">
    </fieldset>

    <label for="password">Password</label>
    <input type="password" id="password" name="password" placeholder="Add your password" required [(ngModel)]="password">

    <button class="delete" (click)="onDelete()">Delete</button>
  </div>
</main>
</body>
