<body class="profile-body">
<main class="container">
  <div class="profile-settings">
    <section class="user-profile-image">
      <img class="user-profile-image" src="../assets/img/Profile.jpg" alt="" height="708" width="736">
    </section>
    <article class="user-profile-options">
      <div class="user-profile-grid">
        <button class="user-profile-card-button" [routerLink]="['/settings']">Settings</button>
        <button class="user-profile-card-button" onclick="window.location.href='savedRecipesWorkoutsProgress.html'">Saved Recipes</button>
        <button class="user-profile-card-button" onclick="window.location.href='savedRecipesWorkoutsProgress.html'">Workout Progress</button>
        <button class="user-profile-card-button">Profile</button>
        <button class="user-profile-card-button">Posts</button>
        <button class="user-profile-card-button">Log Out</button>
      </div>
    </article>
  </div>
</main>
</body>
