<main class="premium-content">
  <div class="premium-carousel"></div>

  <app-plan-types></app-plan-types>

  <div class="premium-table">
    <table class="comparative-plan-table">
      <thead class="comparative-plan-table-header">
      <tr class="comparative-plan-table-row">
        <th class="table-header-item">Features</th>
        <th class="table-header-item">Basic Plan</th>
        <th class="table-header-item">Standard Plan</th>
        <th class="table-header-item">Premium Plan</th>
      </tr>
      </thead>
      <tbody>
      <tr class="comparative-plan-table-row">
        <td class="table-first-row">Acceso a rutinas de entrenamiento básicas</td>
        <td class="checkmark">✔</td>
        <td class="checkmark">✔</td>
        <td class="checkmark">✔</td>
      </tr>
      <tr>
        <td class="table-first-row">Acceso a recetas básicas</td>
        <td class="checkmark">✔</td>
        <td class="checkmark">✔</td>
        <td class="checkmark">✔</td>
      </tr>
      <tr>
        <td class="table-first-row">Creación de rutinas de entrenamiento</td>
        <td class="cross-mark">✗</td>
        <td class="checkmark">✔</td>
        <td class="checkmark">✔</td>
      </tr>
      <tr>
        <td class="table-first-row">Publicación de recetas personalizadas</td>
        <td class="cross-mark">✗</td>
        <td class="checkmark">✔</td>
        <td class="checkmark">✔</td>
      </tr>
      <tr>
        <td class="table-first-row">Integración con dispositivos </td>
        <td class="cross-mark">✗</td>
        <td class="cross-mark">✗</td>
        <td class="checkmark">✔</td>
      </tr>
      <tr>
        <td class="table-first-row">Consulta con entrenadores</td>
        <td class="cross-mark">✗</td>
        <td class="cross-mark">✗</td>
        <td class="checkmark">✔</td>
      </tr>
      </tbody>
    </table>
  </div>


</main>
