<div class="header-2-container">
  <div class="left">
    <img src="app/assets/img/Fitnova-PWM.png" alt="Logo">
  </div>
  <nav>
    <a routerLink="home">Home</a>
    <a routerLink="exercises">Exercises</a>
    <a routerLink="recipes">Recipes</a>
    <a routerLink="premium">Premium</a>
  </nav>

  <div class="right">
    <button *ngIf="!isLoggedIn">
      <a class="header-link" routerLink="login">Login</a>
    </button>

    <button *ngIf="isLoggedIn" (click)="logout()">
      Logout
    </button>

    <a *ngIf="isLoggedIn" routerLink="profile">
      <img src="app/assets/img/Profile.jpg" alt="Perfil">
    </a>
  </div>
</div>
