<div class="header-2-container">
  <div class="left">
    <img src="../../Images/Fitnova-PWM.png" alt="Logo">
  </div>
  <nav>
    <a routerLink="home">Home</a>
    <a routerLink="exercises.html">Exercises</a>
    <a routerLink="recipes.html">Recipes</a>
    <a routerLink="premium">Premium</a>
  </nav>
  <div class="right">
    <button><a class="header-link" routerLink="login.html">Login</a></button>
    <a routerLink="profile.html">
      <img src="../../Images/Profile.jpg" alt="Logo">
    </a>
  </div>
</div>
